<div class="container">
    <h2 class="mb-4">Cliente</h2>
    <form action="/Cliente/{$clients.id_cliente}" method="POST">
        <div class="form-group">
            <label for="idNome">Nome<i class="importante">*</i></label>
            <input type="text" class="form-control" id="idNome" name="nomePessoa" value="{$clients.nomePessoa}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="cpf">CPF / CNPJ<i class="importante">*</i ></label>
                <input type="text" class="form-control" id="cpf" name="cpf_cnpj" maxlength="14" OnKeyPress="formatar('###.###.###-##', this)" value="{$clients.cpf_cnpj}">
            </div>
            <div class="form-group col-md-4">
                <label for="idTipoClie">Tipo de Cliente<i class="importante">*</i></label>
                <select id="idTipoClie" name="tipo_cliente" class="form-control">
                    {if="$clients.tipo_cliente == 'Fisico'"}<option selected>Físico</option><option>Jurídico</option>{else}<option selected>Jurídico</option><option>Físico</option>{/if}
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idEmail">E-mail</label>
                <input type="text" class="form-control" id="idEmail" name="email" value="{$clients.email}">
            </div>
            <div class="form-group col-md-6">
                <label for="idTelefone">Telefone<i class="importante">*</i></label>
                <input type="text" class="form-control" id="idTelefone" name="telefone" maxlength="14" OnKeyPress="formatar('## # ####-####', this)" value="{$clients.telefone}">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="cep">CEP<i class="importante">*</i></label>
                <input type="text" class="form-control" id="cep" name="cep" value="{$clients.cep}" maxlength="9" onblur="pesquisacep(this.value);" onkeypress="formatar('#####-###', this)" placeholder="Digite para buscar">
            </div>
            <div class="form-group col-md-1">
                <label for="uf">Estado</label>
                <input type="text" class="form-control" id="uf" name="uf" value="{$clients.uf}">
            </div>
            <div class="form-group col-md-4">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade" value="{$clients.cidade}">
            </div>
            <div class="form-group col-md-4">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" value="{$clients.bairro}">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" id=rua name="logradouro" value="{$clients.logradouro}">
            </div>
            <div class="form-gorup col-md-2">
                <label for="numero">Número<i class="importante">*</i></label>
                <input type="number" class="form-control" id="numero" name="numero" value="{$clients.numero}">
            </div>
            <div class="form-group col-md-4">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" id="complemento" name="complemento" value="{$clients.complemento}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="limiteCredito">Limite de credito</label>
                <input type="text" class="form-control" name="limite_credito" id="limiteCredito" readonly  value="{$clients.limite_credito}">
                <input type="checkbox" name="limiteCredito" id="limiteCredito">Habilitar limite de credito?
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button type="submit" class="btn btn-danger" style="float: right;">Cancelar</button>
    </form>
</div>
</div>
</div>
