            <div class="container">
            <h2> Cadastrar Produto</h2>
                <form>
                    <h3 class="mb-4" style="color: #aeaeae;">Dados</h3>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="idCodProd">Código do produto</label>
                            <input type="text" class="form-control" id="idCodProd">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="idProd">Nome do produto</label>
                            <input type="text" class="form-control" id="idProd">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="idCodBarra">Código de barra</label>
                            <input type="text" class="form-control" id="idCodBarra">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idTipoProd">Tipo de produto</label>
                            <select class="form-control" id="idTipoProd">
                           <option value="#">Acessorios</option>
                           <option value="#">Alimentos</option>
                           <option value="#">Aluminio</option>
                           <option value="#">Diversos</option>
                           <option value="#">Eletrodomesticos</option>
                           <option value="#">Eletronicos</option>
                           <option value="#">Informatica</option>
                           <option value="#">Moveis e Decoração</option>
                           <option value="#">Perfil</option>
                           <option value="#">Telefonia</option>
                           <option value="#">Vidros</option>

                       </select>

                        </div>
                    </div>s


                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="idQuantidade">Quantidade</label>
                            <input type="number" class="form-control" name="quantidade" id="idQuantidade">
                        </div>
                        <!--  <div class="form-group col-md-3">
                        <label for="idCategoria">Adicionar a tabela?</label>
                        <select class="form-control" id="idCategoria">
                            <option value="#">selecione</option>
                            <option value="#">Acessórios diversos</option>
                            <option value="#">Acessórios em vidro</option>
                            <option value="#">Acessórios TQ</option>
                            <option value="#">Box de abrir</option>
                            <option value="#">Cortina de vidro com roldana</option>
                            <option value="#">Cortina de vidro sem roldana</option>
                            <option value="#">Espelhos</option>
                            <option value="#">Ferramentas para instalação</option>
                            <option value="#">Kits acessorios diversos</option>
                            <option value="#">Kits acessorios para portas</option>
                            <option value="#">Kits especiais</option>
                            <option value="#">Kits especiais: acessorios e perfis</option>
                            <option value="#">Kits multibox</option>
                            <option value="#">Kits versatiks</option>
                            <option value="#">Material para instalação</option>
                            <option value="#">Modelados</option>
                            <option value="#">Molas e fechaduras</option>
                            <option value="#">PE - Box pronta entrega</option>
                            <option value="#">PE - Janela pronta entrega</option>
                            <option value="#">Perfis cortados - Box e varanda</option>
                            <option value="#">Perfis em barra - Box e varanda</option>
                            <option value="#">Porta de corre TQ - acessorios e alumunios</option>
                            <option value="#">Serviços</option>
                            <option value="#">Vidros especiais engenharia</option>
                            <option value="#">Vidros comum - cortado</option>
                            <option value="#">vidros engenharia </option>
                            <option value="#">Vidros laminados</option>
                        </select>
                    </div>
                    -->
                        <div class="form-group col-md-3">
                            <label for="idFornecedor">Fornecedor</label>
                            <select class="form-control" id="idFornecedor">
                            <option selected>...</option>
                            </select>

                        </div>
                        <div class="form-group col-md-3">
                            <label for="habEstoque">Habilitar Estoque?</label>
                            <select id="habEstoque" class="form-control">
                            <option selected>Sim</option>
                            <option>Não</option>
                        </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idNotaFis">Deseja habilitar nota fiscal?</label>
                            <select id="idNotaFis" class="form-control">
                            <option selected>Sim</option>
                            <option>Não</option>
                        </select>
                        </div>
                    </div>

                    <h3 class="mb-4" style="color: #aeaeae;">Valores</h3>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="idValorCust">Valor de custo</label>
                            <input type="text" class="form-control" id="idValorCust" placeholder="R$">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idDespAcess">Despesas acessórias</label>
                            <input type="text" class="form-control" id="idDespAcess" placeholder="R$">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idOutDesp">Outras despesas</label>
                            <input type="text" class="form-control" id="idOutDesp" placeholder="R$">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idCustFin">Custo final</label>
                            <input type="number" class="form-control" id="idCustFin" readonly>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="idLucro">Lucro ultilizado %</label>
                            <input type="text" class="form-control" id="idLucro">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idValorSug">Valor de venda sugerido</label>
                            <input type="text" clazss="form-control" id="idValorSug" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idCor">Valor de Venda ultilizado</label>
                            <input type="text" class="form-control" id="idCor" placeholder="R$">
                        </div>

                    </div>


                    <h3 class="mb-4" style="color: #aeaeae;">Detalhes</h3>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="idlargura">Largura (mm)</label>
                            <input type="text" class="form-control" id="idlargura">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idAltura">Altura (mm)</label>
                            <input type="text" class="form-control" id="idAltura">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idCor">Metragem quadrada (m²)</label>
                            <input type="text" class="form-control" id="idCor">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idPeso">Peso (kg)</label>
                            <input type="number" class="form-control" id="idPeso">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="idCorProd">Cor</label>
                            <input type="text" class="form-control" name="corProduto" id="idCorProd">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idEspessura">Espessura</label>
                            <input type="text" class="form-control" name="espessura" id="idEspessura">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idTamanho">Tamanho</label>
                            <input type="text" class="form-control" name="tamanho" id="idTamanho">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="idGenero">Gênero</label>
                            <select class="form-control" name="genero" id="idGenero">
                            <option value="#">Feminino</option>
                            <option value="#">Masculino</option>
                        </select>
                        </div>


                    </div>

                    <h3 class="mb-4" style="color: #aeaeae;">Estoque</h3>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="idEstMin">Estoque mínimo</label>
                            <input type="number" class="form-control" id="idEstMin">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="idEstMax">Estoque máximo</label>
                            <input type="number" class="form-control" id="idEstMax">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="idQuantAt">Estoque atual</label>
                            <input type="number" class="form-control" id="idQuantAt">
                        </div>

                    </div>




                    <div class="form-control-plaintext">
                        <span style="color: #7c7c7c;">Descrição do produto</span>
                        <textarea class="form-control valid" cols="30" rows="6"></textarea>

                    </div>

                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <button type="submit" class="btn btn-danger" style="float: right;">Cancelar</button>
                </form>
                
            </div>
        </div>
    </div>